# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dagster
.dagster/
.dagster_home/
.tmp_dagster_home*/
*.db
*.db-shm
*.db-wal
storage/
history/
schedules/
runs/
logs/

# Virtual environments
.venv/
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db
